<div class="modal-dialog">
    <div class="modal-content bg-dark">
        <div class="modal-header rounded-top row" style="background-color: {{ active_person.pattern1_bg }}">
        <button type="button" class="close pt-3 pb-2 py-md-2 mr-1 mr-md-2" style="color: {{ active_person.pattern1_txt }}" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body p-0">
            <article class="detail-overlay">
                {% include 'people/person_detail.html' %}
            </article>
        </div>
    </div>
</div>
