{% load static %}
<div class="col-12 col-md-4 infinite-item mb-3">
    <article class="card border-0 bg-dark">
        <form action="{% url 'people:person-detail-ajax' person.id %}" id="df-{{ person.id }}" class="text-center detail-form" method="GET">
            <input type="hidden" name="item-id" value="{{ person.id }}" />
            <button type="submit" class="card-image btn btn-link border border-white border-4 m-1 p-0" style="background-image: url({{ person.thumb.url }});" data-image-full="{{ person.portrait.url }}">
                <img src="{{ person.thumb.url }}" class="card-img-top img-fluid" alt="{{ person.name }}" />
            </button>
        </form>
        <div class="row card-body bg-dark mx-0 px-0 pt-1 pb-0">
            <a href="#" class="col-12 px-0"><h4 class="card-text text-white heading-font mb-1 pl-1">{{ person.name }}</h4></a>
            <p class="col-12 text-primary font-italic px-0 mb-2">"{{ person.blurb }}"</p>
            <p class="col-12 text-white mb-0 p-0">{% for tag in person.tags %} <a href="{% url 'people:person-list' %}?query={{ tag }}" class="btn btn-light text-dark rounded-sm mb-1 px-1 py-0">{{ tag }}</a> {% endfor %}</p>
        </div>
    </article>
</div>
