{% extends 'base/base.html' %} 

{% block og_type %}article{% endblock %}
{% block og_title %}{{ active_person.name }}{% endblock %}
{% block og_description %}&quot;{{ active_person.blurb }}&quot;{% endblock %}
{% block og_image %}{{ active_person.open_graph.url }}{% endblock %}
{% block og_image_type %}image/png{% endblock %}
{% block og_image_width %}{{ active_person.open_graph.width }}{% endblock %}
{% block og_image_height %}{{ active_person.open_graph.height }}{% endblock %}

{% block head_title %}{{ active_person.name }}{% endblock%} {% load static %} {% block content %}
    {% include 'people/includes/person_layout.html' %}
{% endblock%}

{% block postloadjs %} {{ block.super }}
    <script>
    createVideo("{{ active_person.video }}")
    </script>
{% endblock %}